run = ["gunicorn", "--bind", "0.0.0.0:5000", "--timeout", "120", "main_devtools:app"]
entrypoint = "main_devtools.py"
modules = ["python-3.11"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["gunicorn", "--bind", "0.0.0.0:5000", "--timeout", "120", "main_devtools:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
